{% extends "layout.twig" %}

{% block title %}Exemple de contrôleur{% endblock %}

{% block content %}
Bonjour {{ data.user_login }}<br/>
<br/>
<form method="post" action="?a=logout">
   <input type="submit" value="Déconnexion" class="btn btn-danger">
</form>
<table>
   <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Subject</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
      {% for item in collection %}
         <tr>
            <td>{{ item.firstname }} {{ item.lastname }}</td>
            <td>{{ item.subjectname }}</td>
            <td>{{ item.note }}</td>
         </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}


