<!-- Exemple de vin -->
<div class="list-box card mt-4 wine-item" id="{{ winesListElem.id }}" data-name="{{ winesListElem.domaine_name}}" data-appellation="{{ winesListElem.appellation}}" data-region="{{ winesListElem.region}}" data-type="{{ winesListElem.wine_type }}">
    <div class="p-4 card-body">
        <div class="align-items-center row">
            <div class="col-auto">
                <div class="list-images">
                    <img src="https://devbox.u-angers.fr/~thibaultgicquel6201/img/wines/{{ winesListElem.path_img}}" alt="Bouteille de vin" class="avatar-md img-thumbnail rounded-circle" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-0">
                        {{ winesListElem.domaine_name}}
                    </h5>
                    <p class="text-muted mb-2">Appellation : {{ winesListElem.appellation}}</p>
                    <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> {{ winesListElem.region}}, {{ winesListElem.country_of_origin}}</li>
                        <li class="list-inline-item"><i class="mdi mdi-calendar"></i> Millésime : {{ winesListElem.vintage}}</li>

                        {% if winesListElem.grape_varieties %}
                            <li class="list-inline-item"><i class="mdi mdi-grape"></i> Cépages : {{ winesListElem.grape_varieties }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">

                        {% if winesListElem.wine_type %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.wine_type }}</span>
                        {% endif %}


                    
                        {% if winesListElem.classification %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.classification }}</span>
                        {% endif %}

                        {% if winesListElem.alcohol_content %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.alcohol_content }}% Vol</span>
                        {% endif %}

                        {% if winesListElem.bottle_size %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.bottle_size }}</span>
                        {% endif %}

                        {% if winesListElem.serving_temperature %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">Température de service : {{ winesListElem.serving_temperature }}</span>
                        {% endif %}

                        {% if winesListElem.aging_potential %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">Durée de garde : {{ winesListElem.aging_potential }}</span>
                        {% endif %}

                        {% if winesListElem.certifications %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.certifications }}</span>
                        {% endif %}

                                            
                </div>
            </div>


            {% if user.status == "manager"%}

            <div class="col-auto">
                <button class="btn btn-warning" type="submit"> 
                    Modifier</button>
            </div>

            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="confirmDelete('{{ winesListElem.id }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>

            <script>
            function confirmDelete(wineId) {
                Swal.fire({
                    title: 'Êtes-vous sûr ?',
                    text: "Cette action est irréversible !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Oui, supprimer',
                    cancelButtonText: 'Annuler'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si confirmé, effectuer la suppression
                        suprWine(wineId);
                    }
                });
            }

            function suprWine(wineId) {
                console.log(wineId);
                const data = { id: wineId };
                fetch('https://devbox.u-angers.fr/~thibaultgicquel6201/include/suprWine.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json()) 
                .then(data => {
                    if (data.message) {
                        console.log('Suppression réussie:', data.message);
                        // Recharger la page après suppression
                        reloadPage();
                    } else {
                        console.error('Erreur:', data.error || 'Action échouée');
                    }
                })
                .catch(error => console.error('Erreur:', error));
            }

            function reloadPage() {
                location.reload();
            }
            
            </script>



            {% endif %}
        </div>
    </div>
</div>


<!-- Fin Exemple de vin -->