<!-- Exemple de vin -->
<div class="list-box card mt-4 wine-item" id="{{ winesListElem.id }}" data-name="{{ winesListElem.domaine_name}}" data-appellation="{{ winesListElem.appellation}}" data-region="{{ winesListElem.region}}" data-type="{{ winesListElem.wine_type }}">
    <div class="p-4 card-body">
        <div class="align-items-center row">
            <div class="col-auto">
                <div class="list-images">
                    <img src="https://devbox.u-angers.fr/~thibaultgicquel6201/img/wines/{{ winesListElem.path_img}}" alt="Bouteille de vin" class="avatar-md img-thumbnail rounded-circle" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-0">
                        {{ winesListElem.domaine_name}}
                    </h5>
                    <p class="text-muted mb-2">Appellation : {{ winesListElem.appellation}}</p>
                    <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> {{ winesListElem.region}}, {{ winesListElem.country_of_origin}}</li>
                        <li class="list-inline-item"><i class="mdi mdi-calendar"></i> Millésime : {{ winesListElem.vintage}}</li>

                        {% if winesListElem.grape_varieties %}
                            <li class="list-inline-item"><i class="mdi mdi-grape"></i> Cépages : {{ winesListElem.grape_varieties }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">

                        {% if winesListElem.wine_type %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.wine_type }}</span>
                        {% endif %}


                    
                        {% if winesListElem.classification %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.classification }}</span>
                        {% endif %}

                        {% if winesListElem.alcohol_content %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.alcohol_content }}% Vol</span>
                        {% endif %}

                        {% if winesListElem.bottle_size %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.bottle_size }}</span>
                        {% endif %}

                        {% if winesListElem.serving_temperature %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">Température de service : {{ winesListElem.serving_temperature }}</span>
                        {% endif %}

                        {% if winesListElem.aging_potential %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">Durée de garde : {{ winesListElem.aging_potential }}</span>
                        {% endif %}

                        {% if winesListElem.certifications %}
                            <span class="badge bg-soft-secondary fs-14 mt-1">{{ winesListElem.certifications }}</span>
                        {% endif %}

                                            
                </div>
            </div>


            {% if user.status == "manager"%}

            <div class="col-auto">
                <button class="btn btn-warning edit-wine-button" onclick="OpenModalModif('{{ winesListElem.id }}')" > 
                    Modifier</button>
            </div>

            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="confirmDelete('{{ winesListElem.id }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>



            <!-- Modale pour modifier un vin -->
            <div class="modal fade" id="editWineModal{{ winesListElem.id }}" tabindex="-1" aria-labelledby="editWineModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editWineModalLabel">Modifier le vin</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editWineForm">
                                <div class="mb-3">
                                    <label for="domaine_name" class="form-label">Domaine</label>
                                    <input type="text" class="form-control" id="domaine_name{{ winesListElem.id }}" name="domaine_name" value="{{ winesListElem.domaine_name}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="appellation" class="form-label">Appellation</label>
                                    <input type="text" class="form-control" id="appellation{{ winesListElem.id }}" name="appellation" value="{{ winesListElem.appellation}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="region" class="form-label">Région</label>
                                    <input type="text" class="form-control" id="region{{ winesListElem.id }}" name="region" value="{{ winesListElem.region}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="country_of_origin" class="form-label">Pays d'origine</label>
                                    <input type="text" class="form-control" id="country_of_origin{{ winesListElem.id }}" name="country_of_origin" value="{{ winesListElem.country_of_origin}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="grape_varieties" class="form-label">Cépages</label>
                                    <input type="text" class="form-control" id="grape_varieties{{ winesListElem.id }}" name="grape_varieties" value="{{ winesListElem.grape_varieties}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="wine_type" class="form-label">Type de vin</label>
                                    <input type="text" class="form-control" id="wine_type{{ winesListElem.id }}" name="wine_type" value="{{ winesListElem.wine_type}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="vintage" class="form-label">Millésime</label>
                                    <input type="number" class="form-control" id="vintage{{ winesListElem.id }}" name="vintage" value="{{ winesListElem.vintage}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="alcohol_content" class="form-label">Taux d'alcool</label>
                                    <input type="number" step="0.1" class="form-control" id="alcohol_content{{ winesListElem.id }}" name="alcohol_content" value="{{ winesListElem.alcohol_content}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="classification" class="form-label">Classification</label>
                                    <input type="text" class="form-control" id="classification{{ winesListElem.id }}" name="classification" value="{{ winesListElem.classification}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="certifications" class="form-label">Certifications</label>
                                    <input type="text" class="form-control" id="certifications{{ winesListElem.id }}" name="certifications" value="{{ winesListElem.certifications}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="bottle_size" class="form-label">Taille de la bouteille</label>
                                    <input type="text" class="form-control" id="bottle_size{{ winesListElem.id }}" name="bottle_size" value="{{ winesListElem.bottle_size}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="cork_type" class="form-label">Type de bouchon</label>
                                    <input type="text" class="form-control" id="cork_type{{ winesListElem.id }}" name="cork_type" value="{{ winesListElem.cork_type}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="serving_temperature" class="form-label">Température de service</label>
                                    <input type="text" class="form-control" id="serving_temperature{{ winesListElem.id }}" name="serving_temperature" value="{{ winesListElem.serving_temperature}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="aging_potential" class="form-label">Potentiel de garde</label>
                                    <input type="text" class="form-control" id="aging_potential{{ winesListElem.id }}" name="aging_potential" value="{{ winesListElem.aging_potential}}" required>
                                </div>


                                <div class="mb-3">
                                    <label for="path_img" class="form-label">Image</label>

                                    <!-- Affichage de l'image actuelle -->
                                    <p>Fichier actuel : <span id="current-file{{ winesListElem.id }}">{{ winesListElem.path_img }}</span></p>
                                    <div class="list-images">
                                        <img id="preview-image{{ winesListElem.id }}" 
                                            src="../img/wines/{{ winesListElem.path_img }}" 
                                            alt="Bouteille de vin" 
                                            class="avatar-md img-thumbnail rounded-circle" />
                                    </div>
                                    
                                    <!-- Sélection d'une image existante -->
                                    <label for="existingImageSelect">Choisir une image existante :</label>
                                    <select id="existingImageSelect{{ winesListElem.id }}" class="form-select">
                                        <option value="{{ winesListElem.path_img }}" selected>Garder l'image actuelle</option>
                                        {% for elem in images %}
                                            <option value="{{ elem }}" selected>{{ elem }}</option>
                                        {% endfor %}
                                        <!-- Les options seront générées dynamiquement par JS -->
                                    </select>

                                    <!-- Importation d'une nouvelle image -->
                                    <label for="path_img{{ winesListElem.id }}" class="form-label mt-2">Ou importer une nouvelle image :</label>
                                    <input type="file" class="form-control" id="path_img{{ winesListElem.id }}" name="path_img" accept="image/png, image/jpeg, image/gif, image/svg, image/webp">
                                </div>


                                
                                <div class="mb-3">
                                    <label for="stock_limit" class="form-label">Limite des stocks</label>
                                    <input type="text" class="form-control" id="stock_limit{{ winesListElem.id }}" name="stock_limit" value="{{ winesListElem.stock_limit}}" required>
                                </div>
                                <input type="hidden" id="wine_id" name="wine_id">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary" id="saveChangesButton" onclick="ModifWine({{ winesListElem.id }})">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            function confirmDelete(wineId) {
                Swal.fire({
                    title: 'Êtes-vous sûr ?',
                    text: "Cette action est irréversible !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Oui, supprimer',
                    cancelButtonText: 'Annuler'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si confirmé, effectuer la suppression
                        suprWine(wineId);
                    }
                });
            }

            function suprWine(wineId) {
                console.log(wineId);
                const data = { id: wineId };
                fetch('../include/suprWine.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json()) 
                .then(data => {
                    if (data.message) {
                        console.log('Suppression réussie:', data.message);
                        // Recharger la page après suppression
                        reloadPage();
                    } else {
                        console.error('Erreur:', data.error || 'Action échouée');
                    }
                })
                .catch(error => console.error('Erreur:', error));
            }

            function reloadPage() {
                location.reload();
            }

            function OpenModalModif(wineId){
                console.log("Ouverture du modal pour l'ID:", wineId);
                let modal = document.getElementById('editWineModal' + wineId);
                if (modal) {
                    $(modal).modal('show');
                } else {
                    console.error("Modale non trouvée pour l'ID:", wineId);
                }
            }

            function ModifWine(wineId){
                console.log(wineId);

                // Récupérer l'élément input de type fichier
                const fileInput = document.getElementById("path_img"+wineId);

                // Récupérer le chemin de l'image actuelle
                const selectInput = document.getElementById("existingImageSelect" + wineId);
                let currentImage = document.getElementById("current-file" + wineId).textContent;

                // Créer un objet FormData pour envoyer les données du formulaire
                const formData = new FormData();

                // Ajouter les champs du formulaire à FormData
                formData.append("id", wineId);
                formData.append("domaine_name", document.getElementById("domaine_name"+wineId).value);
                formData.append("appellation", document.getElementById("appellation"+wineId).value);
                formData.append("region", document.getElementById("region"+wineId).value);
                formData.append("country_of_origin", document.getElementById("country_of_origin"+wineId).value);
                formData.append("grape_varieties", document.getElementById("grape_varieties"+wineId).value);
                formData.append("wine_type", document.getElementById("wine_type"+wineId).value);

                let vintageValue = document.getElementById("vintage" + wineId).value.trim();
                if (!vintageValue || isNaN(vintageValue) || vintageValue.length !== 4) {
                    vintageValue = null;  // Laisser null si c'est vide ou invalide
                }
                formData.append("vintage", vintageValue);

                formData.append("alcohol_content", document.getElementById("alcohol_content"+wineId).value);
                formData.append("classification", document.getElementById("classification"+wineId).value);
                formData.append("certifications", document.getElementById("certifications"+wineId).value);
                formData.append("bottle_size", document.getElementById("bottle_size"+wineId).value);
                formData.append("cork_type", document.getElementById("cork_type"+wineId).value);
                formData.append("serving_temperature", document.getElementById("serving_temperature"+wineId).value);
                formData.append("aging_potential", document.getElementById("aging_potential"+wineId).value);
                // Gérer l'image
                if (fileInput.files.length > 0) {
                    // Si un fichier est uploadé, utiliser ce fichier
                    formData.append("path_img", fileInput.files[0]);
                } else if (selectInput && selectInput.value) {
                    // Si aucun fichier n'est uploadé mais une image est sélectionnée dans le select
                    formData.append("path_img", selectInput.value);
                } else {
                    // Sinon, garder l'image actuelle
                    formData.append("path_img", currentImage);
                }


                formData.append("stock_limit", document.getElementById("stock_limit"+wineId).value);
                const formDataObject = Object.fromEntries(formData.entries());
                console.log("Données à envoyer:", formDataObject);

                // Envoyer les données au serveur
                fetch('../include/modifWine.php', {
                    method: 'POST',
                    body: formData // Utiliser FormData pour envoyer les données
                })
                .then(response => response.json())
                .then(data => {
                    console.log("Réponse du serveur:");
                    console.table(data);
                    $('#editWineModal'+wineId).modal('hide'); // Fermer la modale après la réponse
                })
                .catch(error => console.error('Erreur:', error));
            }


            // Gestion de l'affichage de l'image sélectionnée dans le select
            document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[id^='existingImageSelect']").forEach(select => {
                select.addEventListener("change", function () {
                    let wineId = this.id.replace("existingImageSelect", ""); // Récupère l'ID du vin
                    let selectedImage = this.value; // Récupère la valeur sélectionnée
                    let previewImage = document.getElementById("preview-image" + wineId);

                    // Met à jour la source de l'image affichée
                    previewImage.src = "../img/wines/" + selectedImage;
                });
            });
        });
                    

            </script>



            {% endif %}
        </div>
    </div>
</div>


<!-- Fin Exemple de vin -->